<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saeed.zanjan.mvpproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVPProject"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".newsDetile.AnnouceDetiles"
            android:exported="false" />
        <activity
            android:name=".contracts.Contracts"
            android:exported="false" />
        <activity
            android:name=".journals.Journals"
            android:exported="false" />
        <activity
            android:name=".survey.Survey"
            android:exported="false" />
        <activity
            android:name=".welfare.Welfare"
            android:exported="false" />
        <activity
            android:name=".utils.FullScreenImageView"
            android:exported="false" />
        <activity
            android:name=".search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".newsDetile.NewsDetiles"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>